h2{
	color: #304ea2;
	font-family: calibri;
	font-size: 38px;
}

.top{
	width: 500px;
	height: 20px;
	background-color: #304ea2;
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: 200;
	
}

.line{
	position: relative;
	bottom: 2px;
	bottom: 2px;
	left: 10px;
	width: 450px;
	height: 1px;
	background-color: #304ea2;
}


body{
	position: relative;
	left: 200px;
	top: -60px;
	margin: 60px;
	font-family: calibri;
	font-size: 16px;
}

.background{
	width: 500px;
	height: 400px;
	border: 1px solid #304ea2;
	padding: 10px;
}

#background.title{
	padding-top:-20px;
}

.next{
	color: white;
	position: relative;
	left: 420px;
	top: 70px;
	height: 20px;
	width: 70px;
	background-color: #304ea2;
	text-align: center;
	font-size: 12px;
}

.link{

	color: white;
	text-align: center;
}

a:hover{
	color: white;
}


li{
	color: black;
}

.pillars{
	position: relative;
	left: 260px;
	top: -40px;
	
}	

.yesBtn{
	color: white;
	position: relative;
	left: 10px;
	top: 40px;
	height: 20px;
	width: 70px;
	background-color: #304ea2;
	text-align: center;
	font-size: 12px;
}

.noBtn{
	color: white;
	position: relative;
	left: 100px;
	top: 20px;
	height: 20px;
	width: 70px;
	background-color: #304ea2;
	text-align: center;
	font-size: 12px;
}

.bottomBar{
	position: relative;
	top: 5px;
	height: 100px;
	width: 500px;
	border: 1px solid #304ea2;
}

.adminQuestions{
	text-align: center;
	font-size: 12px;
	padding-left: 20px;
	
}

.pic{
	opacity: .2;
}

#index{
	position: relative;
	top: -10px;
	right: 11px;
}

#slide2{
	position: relative;
	top: 5px;
}

.buttons{
	position: relative;
	left: 320px;
}

.smallerFont{
	font-size: 12px;
}

#oneQuestion{
	position: relative;
	top: 35px;
}

#twoQuestions{
	position: relative;
	bottom: 25px;
}

#threeQuestions{
	position: relative;
	bottom: 45px;
}

.buffer{
	height: 5px;
}

#next{
	position: relative;
	bottom: 75px;
}

.noBottomButton{
	position: relative;
	left: -400px;
	top: -130px;
}

.debriefPic{
	height: 35px;
	width: 100px;
	padding: 3px;
}